---
language: python
python: "2.7"
before_install:
 - sudo apt-get update -qq
install:
  - sudo pip install ansible
  - sudo ansible-galaxy install geerlingguy.apache
script:
  - echo foo
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
